.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.book:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  /* display: flex; */
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.book {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 27%;
  color: #333;
  flex-basis: width;
  background-color: rgb(165, 230, 230);
  margin-left: 40px;
  margin-bottom: 40px;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 80%;
  background: #f1f1f1;
  margin: auto;
  max-width: 300px;
}

.button {
  background-color: #44c767;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 10px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-top: 10px;
}
.button:hover {
  background-color: #5cbf2a;
}
.button:active {
  position: relative;
  top: 1px;
}
